<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn CSS</title>
    <link rel="shortcut icon" href="../assets/img/pngaaa.com-2625054.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <p>hola mundo</p>
    <p class="text-success">Héctor Daniel Marquina Rodríguez</p>
</body>
</html>